<div class="card">
    <!--Card Header -->
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <p>{{ currentLocation }}</p>
            </div>
            <div class="col-4 text-right">
                <!-- use pipes to weed out decimals 0 - 0 means minium 0 to max 0 places -->
                <h1>{{ weatherData.temp | temperatureUnit: currentTemparatureUnit | number:'.0-0' }}&deg;</h1>
            </div>
        </div>
    </div>

    <!--Card Main Block -->
    <div class="card-block text-center">
        <h1>0</h1>
        <p>{{ weatherData.summary }}</p>
    </div>

    <!--Card Footer -->
    <div class="card-footer">
        <div class="row">
            <div class="col-5">
                <p>Wind</p>
                <p>{{ weatherData.wind | speedUnit : currentSpeedUnit }}</p>
            </div>
            <div class="col-5 offset-2">
                <p>Humidity</p>
                <p>{{ weatherData.humidity | percent }}</p>
            </div>
        </div>
    </div>
</div>