i {
    padding-right : .5rem;
}



/*
.card-block {
    padding: 1.5rem 0;
}
#indicator {
    height: 165px;
    position: relative;
}
#indicator i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin: -8% 0 0 -25%;
}
canvas {
    max-width: 250px;
    margin-bottom: 1rem;
}

.card-footer {
    padding-bottom: .5rem;
}

.card,
.card-header,
.card-footer {
    border: none;
    border-radius: 0;
}
.card {
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.45);
    transition: background-color .5s ease;
    cursor: pointer;
}
.card-block,
.card-footer {
    text-align: center;
}
p {
    margin: .2rem;
}

p:not(.unit-label) {
    text-transform: uppercase;
}*/